<template>
  <div class="modal">
    <user-icon-btn @click="dialog = !dialog">
      <v-img
        src="../src/assets/bulb.png"
        width="auto"
        height="auto"
      />
    </user-icon-btn>
    <v-dialog
      v-model="dialog"
      width="auto"
    >
      <v-card
        max-width="400"
        class="px-6 py-6"
      >
        <div class="d-flex align-center mb-4">
          <p class="modal__header">
            Модальное окно
          </p>
          <user-icon-btn 
            class="modal__btn ml-4 "
            @click="dialog = !dialog"
          >
            <v-img
              src="../src/assets/close_btn.png"
              width="auto"
              height="auto"
            />
          </user-icon-btn>
        </div>
        <p>Текст модального окна</p>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import UserIconBtn from '../components/UI/UserIconBtn.vue';

export default {
  name: 'ModalWindow',
  components: {
    UserIconBtn,
  },
  data:() => ({
    dialog: false,
  }),
}
</script>

<style lang="scss" scoped>
.modal__header {
  font-size: 20px;
  font-weight: 600;
}
.modal__btn,
.modal__btn:hover {
  box-shadow: none;
}
</style>
