<template>
  <div class="user-task">
    <v-container>
      <header
        class="user-task__main mb-7"
      >
        <v-row 
          justify-lg="end"
          justify="center"
        >
          <v-col cols="auto">
            <div class="user d-flex flex-lg-column">
              <p class="mr-2">
                Anton
              </p>
              <div class="user__coins">
                <span class="mr-1">
                  1000
                </span>
                <img src="../assets/coin.png">
              </div>
            </div>
          </v-col>
        </v-row>
      </header>

      <main
        class="user-task__main mb-2"
      >
        <v-row
          justify="space-between"
          align="center"
        >
          <v-col cols="auto">
            <user-icon-btn>
              <v-img
                src="../src/assets/close_btn.png"
                width="auto"
                height="auto"
              />
            </user-icon-btn>
          </v-col>
          <v-col v-if="showTask">
            <p class="task-condititions">
              {{ showTask.task_conditions }}
            </p>
          </v-col>
          <v-col
            cols="auto"
            align="end"
          >
            <modal-window />
          </v-col>
        </v-row>
        <v-row
          v-if="showTask"
          class="flex-column mt-2"
          align="center"
          justify="center"
        >
          <v-col cols="auto">
            <p class="task-text mb-6">
              {{ showTask.task_text }}
            </p>
          </v-col>
          <v-col
            v-if="showTask.task_image"
            cols="auto"
          >
            <img 
              width="100%"
              height="100%"
              src="#"
            >
          </v-col>
        </v-row>
        <v-row
          v-else-if="testFinished"
          justify="center"
        >
          <v-col cols="auto">
            <p class="task-finish">
              Поздравляем! Тест завершен!
            </p>
          </v-col>
        </v-row>
      </main>
    </v-container>
    
    <div
      v-if="showTask"
      class="panel"
    >
      <v-row
        justify-md="space-around"
        align="center"
        class="flex-column flex-md-row mx-2 my-2"
      >
        <v-col
          v-for="(option) in showTask.answer_options"
          :key="option"
          md="3"
          sm="8"
          xs="12"
        >
          <input
            :id="option"
            ref="radioBtn"
            v-model="userAnswer"
            :value="option"
            name="variants"
            type="radio"
            class="panel__radio-btn"
          >
          <label
            :for="option"
            class="panel__radio-lbl"
          >
            <p>{{ option }}</p>
          </label>
        </v-col>
        <v-col 
          md="auto"
          sm="8"
        >
          <button
            class="panel__btn"
            @click="checkAnswer()"
          >
            Check
          </button>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import UserIconBtn from '../components/UI/UserIconBtn.vue';
import ModalWindow from '../components/ModalWindow.vue';
import { useTasksStore } from '../stores/tasks';
import { storeToRefs } from 'pinia';

export default {
  name: 'UserTask',
  components: {
    ModalWindow,
    UserIconBtn,
  },
  data: () => ({
    tasksStore: null,
    tasks: [],
    numberTask: 0,
    userAnswer: null,
    isChecked: false,
    testFinished: false,
  }),
  computed: {
    showTask() {
      return this.tasks[this.numberTask];
    },
  },
  mounted() {
    this.gettingTasks();
  },
  methods: {
    gettingTasks() {
       this.tasksStore = useTasksStore();
       this.tasksStore.getTasks();
       let {userTasks} = storeToRefs(useTasksStore());
       this.tasks = userTasks;
    },
    checkAnswer() {
      this.$refs.radioBtn.forEach(it=> it.checked = false);
      if(this.userAnswer && (this.userAnswer === this.showTask.correct_answer)) {
        this.numberTask++;
        this.testFinished = this.tasks.length === this.numberTask;
        return alert('Правильный ответ');
      } else if(this.userAnswer === null) {
        return alert('Выберите вариант ответа');
      } else return alert('Неправильный ответ');
    },
  },
}
</script>

<style lang="scss" scoped>
.user-task {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.user-task__main {
  .main__task  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .task-condititions {
    text-align: center;
    font-weight: 600;
  }
  .task-text {
    font-size: 20px;
  }
  .task-finish {
    text-align: center;
    font-size: 25px;
  }
}
.v-container {
  flex-grow: 1;
}
.user {
  font-weight: 600;
  &__coins  {
    display: flex;
    align-items: center;
  }
}
.panel {
  background-color: rgba(1, 1 , 1, 0.1);
  border-radius: 5px;
  &__radio-lbl {
    position: relative;
    text-align: center;
    display: block;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 20px;
    transition: all 0.3s;
  }
  &__btn,
  &__radio-lbl {
    width: 100%;
    padding: 7px;
    color: black;
    background-color: white;
    border-radius: 5px;
    font-weight: 600;
    box-shadow: 0px 4px 0px gray;
  }
  &__btn {
    transition: all 0.1s;
  }
  &__btn:active {
    box-shadow: none;
  }
}
input {
  display: none;
}
input:checked + label {
  box-shadow: none;
}
</style>
