<template>
  <div class="app">
    <user-task />
  </div>
</template>

<script>
import UserTask from './components/UserTask.vue';

 export default {
  components: {
    UserTask,
  },
}
</script>

<style lang="scss" scoped>
.app {
  height: 100vh;
  padding: 2rem;
}
</style>
