<template>
  <button class="btn">
    <slot />
  </button>
</template>

<script>
export default {
  name: 'UserIconBtn',
};
</script>

<style scoped>
.btn {
  width: fit-content;
  padding: 7px;
  background-color: rgba(1, 1 , 1, 0.1);  
  border-radius: 5px;
  box-shadow: 0px 4px 0px gray;
  transition: all 0.2s;
}
.btn:hover {
  background-color: rgba(1, 1 , 1, 0.3);  
  box-shadow: 0px 4px 0px black;
}
</style>

